.container {
  flex: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: auto;
}

.overviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.overviewTile {
  border-radius: 10px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  color: white;
  width: 150px;
  padding: 10px;
}

.overviewTile .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tableCell {
  padding: 15px !important;
}

.tableheaderCell {
  padding: 15px !important;
  background-color: #2f4858;
  color: white !important;
}

.recentOrdersContainer {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  margin: 20px;
}
.recentOrdersContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recentOrdersContainer p {
  font-size: large;
  font-weight: bold;
}

.button {
  background-color: #2f4858;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  font-size: small;
}
