.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
